---
import type { TeamMember } from "../../models/TeamMember";
import LinkedInLogo from "../../assets/LinkedInLogo.astro";
import GithubLogo from "../../assets/GithubLogo.astro";
interface Props {
  teamMember: TeamMember;
  accent?: boolean;
}

const { teamMember, accent } = Astro.props;
const cardTheme = accent
  ? {
      bg: "bg-accent",
      txt: { primary: "text-secondary", secondary: "text-secondary" },
    }
  : {
      bg: "bg-primary",
      txt: { primary: "text-light", secondary: "text-light" },
    };
---

<div class={`${cardTheme.bg} w-full drop-shadow-md rounded-2xl p-6`}>
  <div
    class={`flex justify-between items-center ${cardTheme.txt.primary} mb-2`}
  >
    <h4 class="text-xl font-semibold">{teamMember.name}</h4>
    <div class="flex justify-center items-center gap-2">
      <a
        href={teamMember.githubUrl}
        aria-label={`Go to ${teamMember.name} github`}
        referrerpolicy="no-referrer"
        target="_blank"
      >
        <GithubLogo class="h-5 w-5" />
      </a>
      <a
        href={teamMember.linkedinUrl}
        aria-label={`Go to ${teamMember.name} linkedin`}
        referrerpolicy="no-referrer"
        target="_blank"
      >
        <LinkedInLogo class="h-5 w-5" />
      </a>
    </div>
  </div>
  <p class={`text-sm ${cardTheme.txt.secondary}`}>{teamMember.description}</p>
</div>
