---
import {faqStrings} from "../data/faqStrings";
import type {Language} from "../models/Translatable";

interface Props {
  id: string;
  language: Language;
}

const {id, language} = Astro.props;
const {title, subtitle, additionalSupport} = faqStrings[language];
---

<section id={id} class="bg-accent min-h-screen p-12 pt-32">
  <h2 class="text-5xl text-center text-primary font-bold">{title}</h2>
  <p class="text-xl text-center text-primary font-medium">{subtitle}</p>
  <div class="grid grid-cols-1 md:grid-cols-2 max-w-screen-md bg-light w-full gap-6 mx-auto mt-6">
    <!-- TODO: ADD ACCORDIONS -->
  </div>
  <p class="text-center text-primary">{additionalSupport}</p>
</section>