---
import {faqStrings} from "../data/faqStrings";
import type {Language} from "../models/Translatable";
import QuestionsAccordion from "../components/faq/QuestionsAccordion.astro";

interface Props {
  id: string;
  language: Language;
}

const {id, language} = Astro.props;
const {title, subtitle, additionalSupport, questions} = faqStrings[language];
---

<section id={id} class="bg-accent min-h-screen p-12 pt-32">
  <h2 class="text-5xl text-center text-primary font-bold">{title}</h2>
  <p class="text-xl text-center text-primary font-medium">{subtitle}</p>
  <div class="max-w-screen-sm bg-light rounded-xl w-full gap-6 mx-auto my-6">
    <QuestionsAccordion questions={questions} />
  </div>
  <p class="text-center text-primary">{additionalSupport}</p>
</section>